body {
  background-color: black;
}

body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
#info { 
    position: absolute; 
    top: 10px; 
    left: 100px; 
    padding: 5px; 
    background: black;
    font-family: Helvetica, sans-serif; /* Ensured font is set once */
    color: black; /* Made color simpler */
    width: 90%; /* Control the width of the info box */
    margin: 20px; /* Adds margin around the box */
    border: 1px solid #ccc; /* Adds a border */
    background-color: #f9f9f9; /* Light background for the box */
    font-size: 0.8em; /* Smaller font size for the data */
    overflow-y: auto; /* Allows scrolling */
    height: 200px; /* Fixed height, but can scroll */
}



/* Zoom-in and rotate animation */
@keyframes zoomInRotate {
  0% {
    opacity: 0;
    transform: scale(0.5) rotateX(90deg); /* Start from smaller size and rotated */
  }
  50% {
    opacity: 1;
    transform: scale(1.1) rotateX(45deg); /* Zoom in and rotate halfway */
  }
  100% {
    opacity: 1;
    transform: scale(1) rotateX(0deg); /* Fully zoomed in and rotated */
  }
}

/* Default styling for larger screens */
#info {
    font-size: 16px; /* or any size you prefer for larger screens */
}

/* Media query for screens narrower than 600px (typical mobile breakpoint) */
@media screen and (max-width: 600px) {
    #info {
        font-size: 12px; /* smaller font size for mobile screens */
    }
}

